/*
 * Dropper v1.0.1 - 2014-10-24
 * A jQuery plugin for simple drag and drop uploads. Part of the Formstone Library.
 * http://formstone.it/dropper/
 *
 * Copyright 2014 Ben Plum; MIT Licensed
 */

.dropper {
    overflow: hidden;
}
.dropper,
.dropper *,
.dropper *:before,
.dropper *:after {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.dropper-dropzone {
    background: #ffffff;
    border: 3px dashed #cccccc;
    border-radius: 0;
    color: #666666;
    cursor: pointer;
    font-size: 14px;
    margin: 0;
    padding: 25px;
    text-align: center;
}
.dropper.dropping .dropper-dropzone,
.no-touch .dropper:hover .dropper-dropzone {
    background: #eeeeee;
    border-color: #999999;
    color: #333333;
}
.dropper-input {
    position: absolute;
    left: 100%;
    opacity: 0;
}
.no-opacity .dropper-input {
    left: -999px;
}

.dropper-dropzone {
    padding: 1px 3px;
    display: inline-block;
    border: 1px dashed #000;
}

.small_dropper .dropper-dropzone {
    padding: 15px;
    font-size: 11px;
    font-weight: bold;
    width: 250px;
}

.photo-container {
    margin-bottom:15px;
}

.photo_mini_preview  {
    border:1px solid #3c8dbc;
    max-height:150px;
    margin-bottom:10px;
}

.logo_preview {
    max-height:40px;
    margin-bottom:10px;
}