@font-face {
    font-family: "Open Sans";
    src: url("../fonts/open-sans.eot");
    src: url("../fonts/open-sans.eot?#iefix") format("embedded-opentype"),
    url("../fonts/open-sans.woff2") format("woff2"),
    url("../fonts/open-sans.woff") format("woff"),
    url("../fonts/open-sans.ttf") format("truetype"),
    url("../fonts/open-sans.svg#OpenSans") format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/open-sans-semibold.eot");
    src: url("../fonts/open-sans-semibold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/open-sans-semibold.woff2") format("woff2"),
    url("../fonts/open-sans-semibold.woff") format("woff"),
    url("../fonts/open-sans-semibold.ttf") format("truetype"),
    url("../fonts/open-sans-semibold.svg#OpenSans") format("svg");
    font-weight: 600;
    font-style: normal;
}

html,
body {
    height: 100%;
}

body {
    background: #fff;
    padding: 0;
    margin: 0;
    font-family: "Open Sans", "sans-serif", "arial";
    color: #535353;
    font-weight: 600;
}

input,
textarea,
button {
    font-family: "Open Sans", "sans-serif", "arial";
    border: none;
    outline: none;
    -webkit-appearance: none;
    background: none;
    border: none;
    border-color: transparent;
    color: #535353;
}

button,
.button {
    cursor: pointer;
    border-radius: 5px;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li,
ol li {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

a,
a:hover,
a:visited,
a:focus {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

*::-webkit-scrollbar {
    width: 0;
}

a {
    color: inherit;
}

p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.checkbox {
    display: block;
    font-size: 12px;
}

.checkbox input {
    display: none!important;
}

.checkbox span {
    position: relative;
    cursor: pointer;
    padding-left: 32px;
    display: inline-block;
}

.checkbox span:before {
    content: "";
    width: 21px;
    height: 21px;
    display: block;
    position: absolute;
    left: 0px;
    top: 50%;
    margin-top: -11px;
    cursor: pointer;
    border: 2px solid #32a1d7;
    border-radius: 5px;
    box-sizing: border-box;
}

.checkbox input:checked + span:before {
    background: url(../img/checkbox.png) no-repeat center / contain;
}

.button_transparent {
    background: transparent;
    border-color: #32a1d7;
    color: #32a1d7;
}

.button_transparent:hover {
    background: #32a1d7;
    color: #fff;
}

.button_blue {
    background: #32a1d7;
    border-color: #32a1d7;
    color: #fff;
}

.button_blue:hover {
    background: #fff;
    border-color: #32a1d7;
    color: #32a1d7;
}

.slow {
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}


section {
    min-height: 100%;
    position: relative;
}

.auth_screen {
    text-align: center;
    padding-bottom: 240px;
    height: 100%;
    min-height: 650px;
}

.auth_screen_main {
    width: 100%;
    max-width: 576px;
    margin: 0 auto;
    height: 100%;
    display: inline-table;
    vertical-align: middle;
}

.auth_screen_main_inner {
    display: table-cell;
    vertical-align: middle;
}

.auth_screen_main_logo_top {
    margin-bottom: 36px
}

.auth_screen_main_logo_top .logo {
    width: 276px;
    height: 349px;
    background: url(../img/logo.png) no-repeat center / contain;
    margin: 0 auto 30px;
}

.auth_screen_main_logo_tittle {
    color: #a0acb6;
    font-family: "Open Sans";
    font-size: 18px;
}

.auth_screen_main form {
    width: 100%;
}

.auth_screen_main form .bb {
    width: 100%;
    position: relative;
    display: block;
    margin-bottom: 20px
}

.auth_screen_main form .bb_password {
    margin-bottom: 30px
}

.auth_screen_main form .bb:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: #32a1d7;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.auth_screen_main form .bb input {
    width: 100%;
    text-align: center;
    font-size: 20px;
    height: 64px
}

.auth_screen_main form .bb input[type="password"] {
    font-size: 30px;
    letter-spacing: 13px
}

.auth_screen_main form .button {
    height: 60px;
    line-height: 56px;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    width: 192px;
    margin: 0 5px;
    display: inline-block;
    vertical-align: text-bottom;
    font-size: 20px;
    padding: 0
}



.auth_screen_main form label.checkbox {
    margin-bottom: 25px
}


.auth_screen_footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.auth_screen_footer_menu {
    border-bottom: 1px solid #DBDEE2;
}

.auth_screen_footer_menu ul li {
    display: inline-block;
    margin: 0 14px;

}

.auth_screen_footer_menu ul li a {
    font-size: 16px;
    color: #8c98a2;
    position: relative;
    display: inline-block;
    padding: 35px 0;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

.auth_screen_footer_menu ul li.active a,
.auth_screen_footer_menu ul li a:hover {
    color: #32a1d7;
}

.auth_screen_footer_menu ul li a:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: 0;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    background: transparent;
}

.auth_screen_footer_menu ul li.active a:after,
.auth_screen_footer_menu ul li a:hover:after {    
    background: #32a1d7;
    
}

.auth_screen_footer_menu ul li.footer_login {
    margin-left: 22px;
}

.auth_screen_footer_menu ul li.footer_login a {
    position: relative;
}

.auth_screen_footer_menu ul li.footer_login a:before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    border: 2px solid #32a1d7;
    border-radius: 5px;
    width: 74px;
    margin-left: -37px;
    height: 36px;
    margin-top: -18px;
    z-index: -1;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

.auth_screen_footer_menu ul li.footer_login a:hover {
    color: #fff
}

.auth_screen_footer_menu ul li.footer_login a:hover:before {
    background: #32a1d7
}

.auth_screen_footer_menu ul li.footer_login a:hover:after {
    display: none;
}


.auth_screen_footer_copyright {
    color: #a0acb6;
    font-family: "Open Sans";
    font-size: 12px;
    padding: 65px 0;
}

.registration_popup_bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #E3E7EB;
    opacity: 0.7;
    z-index: 999;
    display: none;
}

.registration_popup {
    width: 768px;
    margin-left: -384px;
    height: 864px;
    margin-top: -532px;
    background: #fff;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 1000;
    text-align: center;
    padding: 113px 96px 0;
    display: none;
}

.popup_close {
    display: block;
    width: 38px;
    height: 38px;
    border: 2px solid #dbdee2;
    border-radius: 19px;
    position: absolute;
    top: 24px;
    right: 24px;
    transform: rotate(45deg);
    cursor: pointer;
}

.popup_close:before {
    content: "";
    display: block;
    width: 3px;
    margin-left: -1.5px;
    height: 15px;
    margin-top: -7.5px;
    background: #32a1d7;
    position: absolute;
    left: 50%;
    top: 50%;
}

.popup_close:after {
    content: "";
    display: block;
    width: 15px;
    margin-left: -7.5px;
    height: 3px;
    margin-top: -1.5px;
    background: #32a1d7;
    position: absolute;
    left: 50%;
    top: 50%;
}

.registration_popup form {
    text-align: center;
}

.registration_popup form input {
    width: 100%;
    display: block;
    font-size: 20px;
    text-align: center;
}

.registration_popup form label {
    display: block;
    width: 100%;
    position: relative;
    padding: 17px 0;
}

.registration_popup form label + label {
    margin-top: 21px
}

.registration_popup form label:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: #32a1d7;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.registration_popup form .button {
    height: 60px;
    line-height: 56px;
    font-size: 20px;
    width: 192px;
}

.registration_popup form label + button {
    margin-top: 96px
}

.registration_popup_tittle {
    font-family: "Open Sans";
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 58px
}

.teletop_screen {
    height: 100%;
    width: 100%;
    overflow: hidden;
    min-height: 650px;
}

.teletop_header {
    height: 97px;
    width: 100%;
    border-bottom: 1px solid #DBDEE2;
    position: relative;
    padding: 0 35px 0 288px;
}

.teletop_header_logo {
    width: 288px;
    height: 100%;
    border-right: 1px solid #DBDEE2;
    padding: 0 35px;
    position: absolute;
    left: 0;
    top: 0;
}

.teletop_header_logo .logo {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../img/logo_small.png) no-repeat left center / 183px auto;
}

.teletop_header_menu ul {
    text-align: right;
    line-height: 96px;
    white-space: nowrap;
}

.teletop_header_menu ul li {
    display: inline-block;
}

.teletop_header_menu ul li a {
    font-size: 16px;
    color: #a6b2bb;
    display: inline-block;
    padding-left: 36px;
    position: relative;
    vertical-align: middle;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

.teletop_header_menu ul li a .icon {
    display: block;
    width: 24px;
    height: 24px;
    margin-top: -12px;
    position: absolute;
    left: 0;
    top: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}

.teletop_header_menu ul li.teletop_header_menu_logout a {
    color: #32a1d7;    
}

.teletop_header_menu ul li a:hover {
     opacity: 0.75
}

.teletop_header_menu_logout a .icon {
    background-image: url(../img/logout.png);
    border-radius: 0;
}

.teletop_header_menu_user {
    position: relative;
    padding-right: 25px;
    margin-right: 17px;
}

.teletop_header_menu_user:after {
    content: "";
    display: block;
    width: 1px;
    height: 33px;
    background: #DBDEE2;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -17px;
}

.teletop_body {
    width: 100%;
    height: calc(100% - 97px);
    padding-left: 288px;
    position: relative;

}

.teletop_left_panel {
    height: 100%;
    width: 288px;
    position: absolute;
    left: 0;
    top: 0;
    border-right: 1px solid #DBDEE2;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background: #fff;
    z-index: 20;
}





.teletop_left_panel_group {
    height: auto;
    border-top: 1px solid #DBDEE2;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

.teletop_left_panel_group:first-child {
    border-top: none;
}

.teletop_left_panel_group:last-child {
    border-bottom: 1px solid #DBDEE2;
}

.teletop_left_panel_group_tittle {
    color: #535353;
    font-size: 20px;
    line-height: 96px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: relative;
    display: block;
    padding: 0 70px 0 35px;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

.teletop_left_panel_group_tittle span {
    color: #fff;
    font-size: 16px;
    display: block;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    background: #54CA68;
    border-radius: 15px;
    position: absolute;
    right: 35px;
    top: 50%;
    line-height: 30px;
    text-align: center;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

.teletop_left_panel_group.active .teletop_left_panel_group_tittle span,
.teletop_left_panel_group:hover .teletop_left_panel_group_tittle span {
    background: #fff;
    color: #36a5da;
}
/*
.teletop_left_panel_group.active .teletop_left_panel_group_tittle,
.teletop_left_panel_group .teletop_left_panel_group_tittle:hover {
    color: #fff;
    background: #29A0D9;    
}
*/

.teletop_left_panel_group.active,
.teletop_left_panel_group:hover {    
    background: #29A0D9;  
    border-color: #29A0D9
}

.teletop_left_panel_group.active .teletop_left_panel_group_tittle,
.teletop_left_panel_group:hover .teletop_left_panel_group_tittle{
    color: #fff;
}

.teletop_left_panel_group_inner ul {
    background: #F2F4F6;
    padding: 36px;
}

.teletop_left_panel_group_inner ul li {
    height: 50px;
    line-height: 50px;
    display: none
}

.teletop_left_panel_group_inner ul li:nth-child(-n + 3) {
    display: block
}

.teletop_left_panel_group_inner ul li + li {
    margin-top: 21px;
}

.teletop_left_panel_group_inner ul li a {
    font-size: 16px;
    font-weight: 400;
    display: block;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 62px;
    position: relative;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

.teletop_left_panel_group_inner ul li a:hover {
    opacity: 0.75
}

.teletop_left_panel_group_inner ul li a .icon {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-top: -25px;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
    position: absolute;
    left: 0;
    top: 50%;
}

.teletop_left_panel_group_inner_more {
    color: #a0acb6;
    font-size: 14px;
    display: block;
    text-align: center;
    height: 49px;
    border-top: 1px solid #DBDEE2;
    line-height: 48px;
    background: #EBEEF1;
    cursor: pointer;
}

.teletop_main {
    height: 100%;
    position: relative;
}


.teletop_main_download {
    text-align: center;
    padding: 235px 35px;
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}



.teletop_main_download_logo {
    width: 210px;
    height: 277px;
    background: url(../img/Telegram.png) no-repeat center / contain;
    margin: 0 auto 23px;
}

.teletop_main_download_version {
    color: #a0acb6;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 38px
}



.teletop_main_download_button {
    display: inline-block;
    width: 258px;
    height: 75px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 5px 4px;
        -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

.teletop_main_download_button:hover {
    opacity: 0.75
}

.mobile_panel_left {
    display: none;
    width: 24px;
    height: 16px;
    position: absolute;
    left: 35px;
    top: 50%;
    margin-top: -8px;
    cursor: pointer;
}

.mobile_panel_left span {
    display: block;
    width: 100%;
    height: 3px;
    margin-bottom: 3px;
    background: #535353;
    border-radius: 2px;
}

.teletop_body_panel_bg {
    position: absolute;
    right: -1024px;
    top: 0;
    width: 100%;
    height: 100%;
    background: #E3E7EB;
    opacity: 0.7;
    z-index: 14;
    display: none;
}

.teletop_body_panel_bg.opened {
    right: 0
}

.teletop_main_lenta {
    height: 100%;
    padding: 78px 385px 78px 76px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    position: relative;
}

.teletop_main__lenta {
    background: url(../img/lenta_bg.jpg) no-repeat center / cover;
}

.teletop_main_lenta_date {
    color: #a0acb6;
    font-size: 16px;
    text-align: center;
    margin-bottom: 22px
}

.teletop_main_lenta_post {
    position: relative;
    max-width: 100%;

}

.teletop_main_lenta_post_inner {
    background: #fff;
    max-width: 500px;
    padding: 18px 24px 5px;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    display: inline-block;
    box-shadow: 0 2px 0 #ced6dd;
}

.teletop_main_lenta_post:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 14px solid transparent;
    border-right: 0 solid transparent;
    border-bottom: 17px solid #fff;
    box-shadow: 0 2px 0 #ced6dd;
    position: absolute;
    left: -14px;
    bottom: 0;
}

.teletop_main_lenta_post_chanel {
    display: block;
    color: #32a1d7;
    font-size: 16px;
    font-weight: 400;
    padding-left: 62px;
    position: relative;
    height: 50px;
    line-height: 50px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.teletop_main_lenta_post_inner_top + p {
    margin-top: 6px;
}

.teletop_main_lenta_post_inner_top + img {
    margin-top: 15px;
}

.teletop_main_lenta_post_chanel .icon {
    width: 50px;
    height: 50px;
    display: block;
    border-radius: 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -25px;
}

.teletop_main_lenta_post_inner_top {
    padding-bottom:10px;
}

.teletop_main_lenta_post_bottom {
    padding-top:15px;
    text-align: right;
}

.teletop_main_lenta_post_bottom.with_subscribe {
    height: 36px;
    line-height: 36px;
    vertical-align: middle;
    margin: 10px 0 12px
}

.teletop_main_lenta_post_bottom div {
    display: inline-block;
    color: #a0acb6;
    font-family: "Open Sans";
    font-size: 12px;
}

.teletop_main_lenta_post_bottom_views {
    padding: 0 11px 0 23px;
    position: relative;
    border-right: 1px solid #DBDEE2;
    margin-right: 11px;
    position: relative;
}

.teletop_main_lenta_post_bottom_views:before {
    content: "";
    display: block;
    width: 16px;
    height: 10px;
    background: url(../img/views.png) no-repeat center / contain;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -5px;
}

.teletop_main_lenta_post + .teletop_main_lenta_post {
    margin-top:
}

.teletop_main_lenta_post img {
    border-radius: 10px;
    max-width: 100%;
}

.teletop_main_right_panel {
    width: 385px;
    height: 100%;
    background: #fff;
    position: absolute;
    right: 0;
    top: 0;
    border-left: 1px solid #DBDEE2;
    padding: 0 36px 0;
    z-index: 10;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

}

.teletop_main_right_panel_tittle {
    color: #535353;
    font-size: 20px;
    padding: 28px 0 32px;
}

.teletop_main_right_panel_add {
    background: #F2F4F6;
    padding: 30px 36px;
    border-top: 1px solid #DBDEE2;
    border-bottom: 1px solid #DBDEE2;
    width: calc(100% + 72px);
    margin-left: -36px;
}

.teletop_main_right_panel_add .add-channel-form {
    position: relative;
    padding-right: 43px;
}

.teletop_main_right_panel_add .add-channel-form input {
    width: 100%;
    height: 36px;
    background: #fff;
    border: 1px solid #D0D4DA;
    border-radius: 5px;
    padding: 0 15px;
    vertical-align: middle;
}

.teletop_main_right_panel_add .add-channel-form button {
    height: 20px;
    width: 20px;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -10px;
}

.teletop_main_right_panel_add .add-channel-form button:before {
    content: "";
    display: block;
    width: 20px;
    height: 3px;
    margin-top: -1.5px;
    background: #32a1d7;
    position: absolute;
    left: 0;
    top: 50%;
    border-radius: 2px;
}

.teletop_main_right_panel_add .add-channel-form button:after {
    content: "";
    display: block;
    width: 3px;
    height: 20px;
    margin-left: -1.5px;
    background: #32a1d7;
    position: absolute;
    left: 50%;
    top: 0;
    border-radius: 2px;
}

.teletop_main_right_panel_list {
    padding: 8px 0 30px;
}

.teletop_main_right_panel_list .teletop_main_right_panel_tittle {
    padding-bottom: 17px
}

.chanel_list ul li {
    color: #535353;
    font-size: 16px;
    position: relative;
    margin: 12px 0
}

.chanel_list ul li .delete {
    display: block;
    width: 24px;
    height: 24px;
    background: #DBDFE3;
    border-radius: 12px;
    margin-top: -12px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: rotate(45deg);
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

.chanel_list ul li .delete:before {
    content: "";
    display: block;
    width: 10px;
    margin-left: -5px;
    height: 2px;
    margin-top: -1px;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
}

.chanel_list ul li .delete:after {
    content: "";
    display: block;
    width: 2px;
    margin-left: -1px;
    height: 10px;
    margin-top: -5px;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
}

.chanel_list ul li .delete:hover {
    background: #FF6147;
}

.add_chanel {
    display: none;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 15px;
    position: fixed;
    right: 35px;
    top: 92px;
    cursor: pointer;
    z-index: 10;
}

.add_chanel:before {
    content: "";
    display: block;
    width: 14px;
    margin-left: -7px;
    height: 2px;
    margin-top: -1px;
    background: #32a1d7;
    position: absolute;
    left: 50%;
    top: 50%;
}

.add_chanel:after {
    content: "";
    display: block;
    width: 2px;
    margin-left: -1px;
    height: 14px;
    margin-top: -7px;
    background: #32a1d7;
    position: absolute;
    left: 50%;
    top: 50%;
}

.add_chanel.opened {
    transform: rotate(45deg);
    background: #32a1d7;
}

.add_chanel.opened.add_chanel:before,
.add_chanel.opened.add_chanel:after {
    background: #fff
}

.teletop_main_right_panel_addlist {
    color: #8c98a2;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 36px 40px 36px 0;
}

.teletop_main_lenta_post_chanel .answer {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url(../img/answer.png) no-repeat center / contain;
    vertical-align: middle;
    margin: 0 3px;
}

.teletop_main_lenta_post_bottom .subscribe {
    float: left;
    text-align: left;
    display: block;
}

.subscribe .button {
    display: inline-block;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    width: 120px;
    padding: 0 16px;
}

.button_green {
    color: #fff;
    background: #54CA68;
}

.button_red {
    color: #fff;
    background: #ca4545;
}

.button_red:hover {
    color: #fff;
    background: darkred;
}

.button_green:hover {
        background: #3FB553;
}

.button_orange {
    color: #fff;
    background: #FF6147;
}

.button_orange:hover {
    background: #EB4D33
}

.teletop_main_lenta_post_inner_top.with_subscribe {
    position: relative;
    padding-right: 150px;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    margin-bottom: 5px;
}

.teletop_main_lenta_post_inner_top .button {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -18px
}

.lenta3 .teletop_main_lenta_post_bottom {
    text-align: left;
    padding: 20px 0 20px
}

.teletop_main_category {
    border-bottom: 1px solid #DBDEE2;
    padding: 0 36px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: #fff;
    z-index: 5;
    overflow-y: auto;
        -webkit-overflow-scrolling: touch;
}

.teletop_main_category ul {
    white-space: nowrap;   
}


.teletop_main_category ul li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 60px
}



.teletop_main_category ul li a {
    font-weight: 600;
    color: #8c98a2;
    line-height: 96px;
    position: relative;
    display: inline-block;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

.teletop_main_category ul li.active a,
.teletop_main_category ul li a:hover {
    color: #3fa6d9;
}

.teletop_main_category ul li a:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: 0;
     background: transparent;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
   
}

.teletop_main_category ul li.active a:after,
.teletop_main_category ul li a:hover:after {    
    background: #38A5DB;
    
}

.channel_icon {
    width: 68px;
    height: 68px;
    background-color: #dbdfe3;
    border-radius: 34px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.channel_text {
    max-width: 700px;
    width: 100%;
}

.channel_name {
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
}

.channel_name a {
    color: #32a1d7;
}

.channel_about {
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
}

.td_channel_subscribers {
    font-size: 18px;
    font-weight: 400;
}

.td_channel_subscriber .button {
    font-size: 14px;
    font-weight: 400;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    padding: 0 16px;
    width: 120px;
}

.teletop_main_chanels {
    padding: 155px 192px 132px 36px;
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

}



.teletop_main_chanels ol {
    counter-reset: ChannelCouner;
}

.teletop_main_chanels ol li {
    padding-left: 115px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 2px 0 #ced6dd;
    background: #fff;
}

.teletop_main_chanels ol li + li {
    margin-top: 8px
}

.teletop_main_chanels ol li:before {
    counter-increment: ChannelCouner;
    content: counter(ChannelCouner);
    color: #3fa6d9;
    font-size: 24px;
    width: 72px;
    text-align: center;
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -18px;
    z-index: 2;
}

.teletop_main_chanels ol li:after {
    content: "";
    display: block;
    width: 72px;
    height: 100%;
    background: #F2F4F6;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.teletop_main_chanels ol li table {
    width: 100%;
    min-height: 143px;
    text-align: left;
    vertical-align: middle;
    border-collapse: collapse;
}

.teletop_main_chanels ol li table td {
    vertical-align: middle;
    padding: 37px 0;
}

.td_channel_subscribers {
    text-align: center;
    width: 88px
}

.td_channel_subscriber {
    text-align: center;
    width: 165px;

}

.td_channel_icon {
    width: 94px;
}

.td_channel_text {
    padding-right: 100px;
}


.teletop_main_category .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonLeft,
.teletop_main_category .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonRight {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 50%;
    margin-top: -7px;
    border-top: 3px solid #8c98a2;
    border-right: 3px solid #8c98a2;    
    opacity: 1;
}

.teletop_main_category .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonLeft:hover,
.teletop_main_category .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonRight:hover {
    border-color: #32a1d7
}


.teletop_main_category .mCSB_scrollTools.mCSB_scrollTools_horizontal {    
    height: 0;
    position: static;      
    opacity: 1
}

.teletop_main_category .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonLeft {
    transform: rotate(225deg);
    left: 5px;    
}

.teletop_main_category .mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_buttonRight {
    transform: rotate(45deg);
    right: 5px;    
}

.teletop_main_category .mCustomScrollBox .mCSB_container  {
    padding: 0 30px;
}

.teletop_main_category .mCS_no_scrollbar .mCustomScrollBox .mCSB_container  {
    padding: 0;
}

.teletop_main_list_category {
    
}

.teletop_main_list_category ul li {
    float: left;
    background: #F7F7F7;
    margin: 5px 0
}

.teletop_main_list_category ul li a {
    font-family: "Open Sans";
font-size: 16px;
    color: #a0acb6;
    border-radius: 3px;
    display: inline-block;
    padding: 0 22px;
    height: 48px;
    line-height: 48px;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

.teletop_main_list_category ul li.active a,
.teletop_main_list_category ul li a:hover {
    color: #fff;
    background: #3fa6d9;    
}

.teletop_main_lists {
    max-width: 900px;   
    padding-top: 115px;
}

.teletop_main_item {
    display: inline-block;
    padding: 0 62px;
    margin-bottom: 90px;
    vertical-align: top;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

.teletop_main_item:hover {
    opacity: 0.75
}

.teletop_main_item_icon {
    display: block;
    height: 160px;
    width: 160px;
    border-radius: 80px;    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto 19px;
}

.teletop_main_item_name {
    color: #3fa6d9;
font-size: 16px;
    text-align: center;
    display: block;
}

.teletop_main_list {
    padding: 22px 36px 50px;
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}



.teletop_main_list.teletop_main_list_with_category {
    padding-top: 116px
}


.teletop_main_lenta .item {
    margin-bottom:15px;
}

#added_info {
    display:none;
    margin-top:10px;
    padding:10px 18px;
}

.show-more {
    padding: 100px 0;
    margin-top: 10px;
    display:block;
}

.show-more > a {
    background-image: url(../img/arr-down.png);
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid #3ac3f2;
    border-radius: 50%;
    display: inline-block;
    height: 50px;
    margin: 0 auto 10px;
    width: 50px;
}

.show-more.branch > a {
    background-image: url(../img/reload.png);
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out" !important;
    -webkit-transition-delay: 9999s !important;
}







































