@media (max-height: 1200px) {
    .auth_screen_footer_copyright {
        padding: 48px 0;
    }

    .auth_screen_footer_menu ul li a {
        padding: 26px 0;
    }

    .auth_screen_main_logo_top .logo {
        height: 262px;
        margin: 0 auto 22px;
    }

    .auth_screen_main_logo_top {
        margin-bottom: 27px;
    }


    .auth_screen_main form .bb input {
        height: 48px;
    }

    .auth_screen_main form .button {
        height: 45px;
        line-height: 41px;
    }

    .auth_screen {
        padding-bottom: 180px;
    }

    .registration_popup {
        margin-top: -432px;
    }

    .teletop_header {
        height: 72px;
        padding: 0 35px 0 288px;
    }

    .teletop_header_logo .logo {
        background-size: 138px auto;
    }

    .teletop_header_menu ul {
        line-height: 72px;
    }

    .teletop_body {
        height: calc(100% - 72px);
    }

    .teletop_left_panel_group_tittle {
        line-height: 72px;
    }

    .teletop_left_panel_group_inner ul {
        padding: 27px 36px;

    }

    .teletop_left_panel_group_inner ul li {
        height: 38px;
        line-height: 38px;
        display: none
    }

    .teletop_left_panel_group_inner ul li + li {
        margin-top: 16px;
    }

    .teletop_left_panel_group_inner ul li a .icon {
        width: 38px;
        height: 38px;
        margin-top: -19px;
    }

    .teletop_left_panel_group_inner_more {
        height: 37px;
        line-height: 36px;
    }

    .teletop_main_download {
        padding: 100px 35px
    }

    .teletop_main_download_logo {
        height: 208px;
        margin: 0 auto 18px;
    }

    .teletop_main_download_version {
        margin-bottom: 28px
    }

    .teletop_main_download_button {
        width: 258px;
    }

    .teletop_main_right_panel_tittle {
        padding: 21px 0 24px;
    }

    .teletop_main_right_panel_add {
        padding: 18px 36px;
    }

    .teletop_main_category ul li a {
        line-height: 72px;
    }

    .teletop_main_chanels {
        padding: 120px 192px 100px 36px;
    }


    

    .teletop_main_list.teletop_main_list_with_category {
        padding-top: 83px
    }

    .teletop_main_item {
        margin-bottom: 65px;
    }
    
    .teletop_main_lists {    
    padding-top: 80px;
}
    
    .teletop_main_list {
        padding: 8px 36px 50px;
    }


}

@media (max-height: 899px) {
    .auth_screen_footer_copyright {
        padding: 36px 0;
    }

    .auth_screen_footer_menu ul li a {
        padding: 20px 0;
    }

    .auth_screen_main_logo_top .logo {
        height: 200px;
        margin: 0 auto 16px;
    }

    .teletop_main_right_panel_list {
        padding: 1px 0 24px;
    }

    
    .auth_screen {
        padding-bottom: 152px;
    }

    .registration_popup {
        height: 90%;
        margin-top: 0;
        top: 5%;
        padding: 85px 96px;
    }

    .registration_popup_tittle {
        margin-bottom: 44px
    }

    .registration_popup form label + button {
        margin-top: 72px;
    }
    .registration_popup form .button {
        height: 45px;
        line-height: 41px;
    }
}

@media (max-height: 799px) {
    .auth_screen_footer_copyright {
        padding: 27px 0;
    }

    .auth_screen_footer_menu ul li a {
        padding: 15px 0;
    }

    .auth_screen_main_logo_top .logo {
        height: 150px;
        margin: 0 auto 12px;
    }

    
    .auth_screen {
        padding-bottom: 124px;
    }

    .registration_popup {
        padding: 64px 96px;
    }

    .registration_popup_tittle {
        margin-bottom: 33px;
    }
    .registration_popup form label {
        padding: 12px 0;
    }

    .registration_popup form label + button {
        margin-top: 54px;

    }
}

@media (max-width: 1599px) {
    .teletop_main_chanels {
        padding: 120px 36px 100px 36px;
    }

    .teletop_main_category ul li {
        margin-right: 45px;
    }
}

@media (max-width: 1279px) {
    .teletop_main_right_panel {
        right: -385px;
    }

    .teletop_main_right_panel.opened {
        right: 0;
    }

    .teletop_main_lenta {
        padding-right: 76px;
    }

    .add_chanel {
        display: block;
    }

    .teletop_main_chanels ol li {
        padding-left: 70px;
    }

    .teletop_main_chanels ol li:before,
    .teletop_main_chanels ol li:after {
        width: 50px;
    }

    .teletop_main_item_icon {
        height: 120px;
        width: 120px;
        border-radius: 60px;
    }

    .teletop_main_item {
        padding: 0 36px;
    }


}

@media (max-width: 1023px) {
    .auth_screen_footer_menu ul li {
        margin: 0 7px;
    }

    .auth_screen_main {
        max-width: 432px;
    }

    .registration_popup {
        padding: 64px 48px;
        width: 80%;
        margin-left: 0;
        left: 10%;
    }

    .teletop_body_panel_bg {
        display: block
    }

    .teletop_main_chanels ol li table,
    .teletop_main_chanels ol li table tbody,
    .teletop_main_chanels ol li table tr,
    .teletop_main_chanels ol li table tr td {
        display: block;
    }

    .teletop_main_chanels ol li table td {
        padding: 0
    }

    .teletop_main_chanels ol li table tr {
        position: relative;
    }

    .teletop_main_chanels ol li table tr:after {
        content: "";
        display: table;
        clear: both;
    }

    .td_channel_subscribers {
        text-align: left;
        width: 50%;
        float: left;
        height: 36px;
        line-height: 36px;
    }

    .td_channel_subscriber {
        text-align: right;
        width: 50%;
        float: right;
        height: 36px;
        line-height: 36px;
    }

    .channel_name {
        height: 50px;
        line-height: 50px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        padding-left: 65px;
        margin-bottom: 15px;
    }

    .channel_icon {
        width: 50px;
        height: 50px;
    }

    .td_channel_icon {
        width: 50px;
        position: absolute;
        left: 0;
        top: 0;
    }

    .teletop_main_chanels ol li {
        padding-top: 18px;
        padding-bottom: 18px;
        padding-right: 18px
    }

    .td_channel_text {
        margin-bottom: 15px
    }

    .teletop_main_category ul li {
        margin-right: 30px;
    }
    
    .teletop_screen {    
    min-height: 400px;
}




}

@media (max-width: 767px) {
    .auth_screen_footer_menu ul li a {
        font-size: 12px;
    }

    .teletop_left_panel {
        left: -288px;
    }

    .teletop_left_panel.opened {
        left: 0;
    }

    .teletop_body {
        padding-left: 0;
    }

    .teletop_header_logo {
        padding: 0 35px 0 80px
    }

    .mobile_panel_left {
        display: block;
    }
}

@media (max-width: 639px) {
    .auth_screen {
        height: auto;
        padding: 90px 25px 0;
    }

    .auth_screen_footer_menu ul li {
        display: list-item;
        margin: 0;
    }

    .auth_screen_footer_menu ul li a {
        font-size: 16px;
    }


    .auth_screen_footer {
        position: static;
    }

    .auth_screen_footer_menu ul li.footer_login {
        margin-left: 0;
    }

    .auth_screen_footer_menu {
        padding: 50px 0
    }

    .auth_screen_footer_menu ul li.active a:after,
    .auth_screen_footer_menu ul li a:hover:after {
        display: none
    }

    .auth_screen_footer_menu ul li a {
        padding: 10px 0;
    }

    .auth_screen_main,
    .auth_screen_main_inner {
        display: block;
    }

    .auth_screen_main_logo_top .logo {
        width: 100%;
    }

    .mobile_user {
        display: block;
    }



    .teletop_main_download {
        padding: 60px 25px;
    }

    .teletop_header_menu ul li a .text {
        display: none;
    }

    .teletop_header_logo {
        width: 216px;
        padding: 0 25px 0 60px;
        border-right: none;
    }

    .mobile_panel_left {
        left: 25px
    }

    .teletop_header_logo .logo {
        background-size: contain;
    }

    .teletop_header {
        padding: 0 25px 0 216px;
    }

    .teletop_header_menu_user:after {
        display: none;
    }

    .teletop_header_menu_user {
        padding-right: 0;
        margin-right: 0;
    }

    .teletop_main_lenta {
        padding: 78px 25px 78px;
    }

    .teletop_main_right_panel {
        width: 288px;
    }

    .teletop_main_right_panel_addlist {
        padding-right: 0
    }

    .teletop_main_chanels {
        padding: 120px 25px 100px 25px;
    }

    .teletop_main_category {
        padding: 0 25px;
    }

    .channel_text,
    .channel_about {
        word-wrap: break-word
    }

    .channel_name {
        height: auto;
        line-height: normal
    }

    .channel_name a {
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .teletop_main_list {
        padding: 0 25px;
    }

    .teletop_main_item {
        padding: 0 25px;
    }

    .teletop_main_item {
        padding: 0 25px;
    }

    .teletop_main_lists {
        text-align: center;
        margin: 0 -25px;
        width: calc(100% + 50px)
    }





}

@media (max-width: 479px) {
    .auth_screen {
        padding: 60px 25px 0;
    }

    .auth_screen_main form .button + .button {
        margin-top: 10px
    }

    .registration_popup {
        padding: 64px 24px;
        width: 90%;
        left: 5%;
        height: auto;
        position: absolute;
    }

    .registration_popup_tittle {
        font-size: 30px;
    }

    .registration_popup form input,
    .auth_screen_main form .bb input {
        font-size: 16px;
    }

    .teletop_main_lenta_post_bottom .subscribe {
        float: none;
    }

    .teletop_main_lenta_post_bottom.with_subscribe {
        height: auto;
    }

    .teletop_main_lenta_post_inner {
        max-width: 100%;
    }

    .teletop_main_lenta_post_inner_top.with_subscribe {
        padding-right: 0;
        height: auto;
    }

    .teletop_main_lenta_post_inner_top .button {
        position: static;
        top: 0;
        margin-top: 0;
    }

    .teletop_main_lenta_post_inner_top.with_subscribe .subscribe {
        text-align: right;
    }

    .td_channel_subscribers {
        width: auto;
        min-width: 1px;
        min-height: 1px
    }

    .td_channel_subscriber {
        width: auto;
        min-width: 1px;
        min-height: 1px
    }


}

@media (max-width: 359px) {
    .auth_screen {
        padding: 60px 15px 0;
    }

    .teletop_main_download {
        padding: 50px 15px;
    }

    .teletop_header_logo {
        width: 185px;
        padding: 0 15px 0 50px;
    }

    .mobile_panel_left {
        left: 15px;
    }

    .teletop_header {
        padding: 0 15px 0 216px;
    }

    .teletop_main_lenta {
        padding: 78px 15px 78px;
    }

    .add_chanel {
        right: 15px;
    }

    .teletop_header_menu ul li a .icon {
        left: auto;
        right: 0;
    }

    .teletop_main_category {
        padding: 0 15px;
    }

    .teletop_main_chanels {
        padding: 120px 15px 100px 15px;
    }

    .teletop_main_chanels ol li:before,
    .teletop_main_chanels ol li:after {
        width: 40px;
    }

    .teletop_main_chanels ol li {
        padding-left: 55px;
    }

    .teletop_main_list {
        padding: 0 15px;
    }

    .teletop_main_item {
        padding: 0 15px;
    }

    .teletop_main_item {
        padding: 0 15px;
    }

   
    .teletop_main_lists {
        margin: 0 -15px;
        width: calc(100% + 30px)
    }







}