html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.channel-image {
    width:35px;
}

.message-text {
    font-size:15px;
}

.message-img img {
    margin-bottom:10px;
    max-height:400px;
    max-width:99%;
}

.webpage-title {
    font-size:20px;
    font-weight:bold;
    margin-bottom:15px;
}


.show-more {
    padding: 100px 0;
    margin-top: 10px;
}

.show-more > a {
    background-image: url(../img/arr-down.png);
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid #3ac3f2;
    border-radius: 50%;
    display: inline-block;
    height: 50px;
    margin: 0 auto 10px;
    width: 50px;
}

.show-more.branch > a {
    background-image: url(../img/reload.png);
}

.channel {
    border:1px solid #ccc;
    padding:10px;
    background: #f4f4f6;
    margin-bottom:2px;
}

.channel-image {
    width:60px;
    height:60px;
}

.channel-descr {
    margin-top:5px;
    font-size:12px;
}

.stickers {
    margin-top:30px;
    border:1px solid #ccc;
    padding:15px;
}

.stickerpack, .sticker {
    text-align:center;
}

.sticker img,.stickerpack img {
    width:150px;
}

.webpage-content {
    margin-top:30px;
    padding:12px;
    background: #f4f4f6;
    border:1px solid #ccc;
}

.webpage-content h2 {
    margin:8px 0px;
}

#added_info {
    display:none;
    margin-top:10px;
    padding:10px 18px;
}